
  body {
    font-size: 14px;
  }
  .v1_3 {
    width: 100%;
    height: 953px;
    background: rgb(62, 194, 106);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0 px;
    overflow: hidden;
    z-index: 0;
  }

  .v10_67 {
    width: 760px;
    height: 1000px;
    background: url("images/v10_67.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 10px;
    left: -50px;
    overflow: hidden;
    z-index: 0
  }
  .v122_912 {
    width: 313px;
    height: 107px;
    background-color: transparent;
    background-size: cover;
    padding: 0;
    border: none;
    margin: 10px;
    position: absolute;
    top: 189px;
    left: 115px;
  }
  .v10_7 {
    width: 293px;
    color: rgba(59,183,101,1);
    position: absolute;
    top: 10px;
    left: 10px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Avenir;
    font-weight: Medium;
    font-size: 48px;
    opacity: 1;
    text-align: center;
    z-index: 0
  }
  .v122_913 {
    width: 974px;
    height: 1087px;

    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 10px 10px;
    margin: 10px;
    opacity: 1;
    position: absolute;
    top: 120px;
    left: 756px;
    overflow: hidden;
    z-index: 0
  }
  .v45_3 {
    width: 1000px;
    height: 100%;
    background: url("images/v45_3.png");
    opacity: 1;
    position: relative;
    top: 10px;
    left: -20px;
    overflow: hidden;
    z-index: 1
  }
  .v71_26 {
    width: 100%;
    height: 138px;
    background: rgb(62, 194, 106);
    padding: 19px 103px;
    position: fixed;
    top: 0px;
    left: 0px;
    opacity: 1;
    z-index: 0;
  }
  .v71_31 {
    width: 73px;
    height: 76px;
    background: url("images/v71_31.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 30px;
    left: 103px;
    overflow: hidden;
    z-index: 0;
  }
  .v71_29 {
    width: 77px;
    height: 76px;
    background: url("images/v71_29.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 30px;
    left: 356px;
    overflow: hidden;
    z-index: 0
  }
  .v71_28 {
    width: 248px;

    position: absolute;
    top: 19px;
    left: 613px;
    font-family: Avenir;
    font-weight: Medium;
    font-size: 80px;
    opacity: 1;
    text-align: center;
    z-index: 0
  }
  .v71_30 {
    width: 65px;
    height: 73px;
    background: url("images/v71_30.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 32px;
    left: 1250px;
    overflow: hidden;
    z-index: 1
  }
  .v71_33 {
    width: 98px;
    height: 94px;
    background: url("images/v71_33.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 21px;
    left: 1000px;
    overflow: hidden;
    z-index: 0
  }
  .v122_915 {
    width: 251px;
    height: 68px;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 0;
    border: none;
    background: transparent;
    
    position: absolute;
    top: 205px;
    left: 975px;
    overflow: hidden;
    z-index: 0
  }
  .v10_8 {
    width: 231px;
    color: rgba(59,183,101,1);
    position: absolute;
    top: 10px;
    left: 10px;
    font-family: Avenir;
    font-weight: Medium;
    font-size: 48px;
    opacity: 1;
    text-align: left;
    z-index: 0
  }

  .v54_46 {
    width: 561px;
    height: 82px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    vertical-align: middle;
    
    overflow: hidden;
    top: 500px;
    z-index: 1
  }
  .v46_8 {
    width: 239px;
    height: 82px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 322px;
    overflow: hidden;
    z-index: 0
  }
  .v46_9 {
    width: 239px;
    height: 82px;
    background: rgba(59,183,101,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
    z-index: 0
  }
  .v46_10 {
    width: 218px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 11px;
    left: 11px;
    font-family: Avenir;
    font-weight: Semi Bold;
    font-size: 25px;
    opacity: 1;
    text-align: center;
    z-index: 0
  }
  .v46_7 {
    width: 239px;
    height: 82px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: visible;
    z-index: 0
  }
  .v46_6 {
    width: 239px;
    height: 82px;
    background: rgba(59,183,101,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v10_65 {
    width: 218px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 11px;
    left: 11px;
    font-family: Avenir;
    font-weight: Semi Bold;
    font-size: 25px;
    opacity: 1;
    text-align: center;
    z-index: 1
  }
  .v10_9 {
    width: 100%;
    height: 953px;
    background: rgba(0,0,0,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
    z-index: 0
  }
  .v10_60 {
    width: 777px;
    height: 50px;
    background: rgba(217,217,217,1);
    opacity: 1;
    position: absolute;
    top: 552px;
    left: 380px;
    overflow: hidden;
  }
  .v10_56 {
    width: 777px;
    height: 50px;
    background: rgba(217,217,217,1);
    opacity: 1;
    position: absolute;
    top: 248px;
    left: 380px;
    overflow: hidden;
  }
  .v54_89 {
    width: 777px;
    height: 50px;
    background: rgba(199,0,0,1);
    opacity: 1;
    position: absolute;
    top: 172px;
    left: 380px;
    overflow: hidden;
  }
  .v54_106 {
    width: 449px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 172px;
    left: 544px;
    font-family: Avenir;
    font-weight: Medium;
    font-size: 40px;
    opacity: 1;
    text-align: center;
    outline: none;
  }
  .v10_57 {
    width: 777px;
    height: 50px;
    background: rgba(217,217,217,1);
    opacity: 1;
    position: absolute;
    top: 324px;
    left: 380px;
    overflow: hidden;
  }
  .v10_58 {
    width: 777px;
    height: 50px;
    background: rgba(217,217,217,1);
    opacity: 1;
    position: absolute;
    top: 400px;
    left: 380px;
    overflow: hidden;
  }
  .v10_59 {
    width: 777px;
    height: 50px;
    background: rgba(217,217,217,1);
    opacity: 1;
    position: absolute;
    top: 476px;
    left: 380px;
    overflow: hidden;
  }
  .v54_92 {
    width: 188px;
    height: 73px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 750px;
    left: 1200px;
    overflow: hidden;
  }
  .v54_91 {
    width: 188px;
    height: 73px;
    background: rgba(59,183,101,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
    z-index: 10;
  }
  .v54_90 {
    width: 154px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 9px;
    left: 17px;
    font-family: Avenir;
    font-weight: Black;
    font-size: 40px;
    opacity: 1;
    text-align: center;
    z-index: 9999;
  }
  .v54_93 {
    width: 188px;
    height: 73px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 755px;
    left: 120px;
    overflow: hidden;
  }
  .v54_94 {
    width: 188px;
    height: 73px;
    background: rgba(59,183,101,1);

    position: absolute;
    top: 0px;
    left: 0px;

  }
  .v54_95 {
    width: 91px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 9px;
    left: 49px;
    font-family: Avenir;
    font-weight: Black;
    font-size: 40px;
    opacity: 1;
    text-align: center;
  }
  .v54_108 {
    width: 70px;
    height: 70px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 612px;
    left: 733px;
    overflow: hidden;
  }
  .v54_101 {
    width: 70px;
    height: 70px;
    background: rgba(59,183,101,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 50%;
    outline: none;
    border-width: 0px;
  }
  .v54_100 {
    width: 70px;
    height: 70px;
    outline: none;
    background: url("singleplayerImages/v54_100.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
    border-width: 0px;
  }
  .bottom_of_page {
    width: 777px;
    height: 400px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 766px;
    left: 380px;
    overflow: hidden;
    z-index: 10;
  }
  .v54_109 {
    width: 777px;
    height: 50px;
    background: rgba(217,217,217,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v54_110 {
    width: 471px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 4px;
    left: 45px;
    font-family: Avenir;
    font-weight: Medium;
    font-size: 30px;
    opacity: 1;
    text-align: center;
  }
  .v54_111 {
    width: 28px;
    height: 34px;
    background: rgba(0,0,0,1);
    opacity: 1;
    position: absolute;
    top: 8px;
    left: 13px;
  }
  .v71_15 {
    width: 461px;
    height: 50px;
    background: url("singleplayerImages/v110_15.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 701px;
    left: 541px;
    overflow: hidden;
  }
  .v71_13 {
    width: 461px;
    color: rgba(59,183,101,1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Avenir;
    font-weight: Medium;
    font-size: 40px;
    opacity: 1;
    text-align: center;
  }
  .header {
    width: 100%;
    height: 140px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .header_div {
    width: 100%;
    height: 140px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
  }
  .header_background {
    width: 100%;
    height: 140px;
    background: rgba(62,194,107,0.9399999976158142);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .vocle_label {
    width: 248px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 18px;
    left: 635px;
    font-family: Avenir;
    font-weight: Medium;
    font-size: 80px;
    opacity: 1;
    text-align: center;
  }
  .information {
    width: 77px;
    height: 76px;
    background: url("singleplayerImages/v110_15.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 31px;
    left: 377px;
    overflow: hidden;
  }
  .stats {
    width: 65px;
    height: 73px;
    background: url("singleplayerImages/v110_16.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 33px;
    left: 1064px;
    overflow: hidden;
  }
  .spotify {
    width: 73px;
    height: 76px;
    background: url("singleplayerImages/v110_17.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 31px;
    left: 124px;
    overflow: hidden;
  }
  .login {
    width: 98px;
    height: 94px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 22px;
    left: 1310px;
    overflow: hidden;
  }
  .login_icon {
    width: 98px;
    height: 94px;
    background: url("singleplayerImages/v110_19.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }

  .v101_2 {
    width: 843px;
    height: 688px;
    background: rgba(0,0,0,1);
    opacity: 1;
    position: relative;
    margin-left: auto;
    margin-right:auto;
    vertical-align: middle;
    top: 100px;
    
    overflow: hidden;
  }
  .login-screen {
    width: 289px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 65px;
    left: 277px;
    font-family: Avenir;
    font-weight: Medium;
    font-size: 72px;
    opacity: 1;
    text-align: center;
  }
  .name {
    color: #fff;
  }
  .v91_4 {
    width: 56px;
    height: 56px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 9px;
    left: 778px;
  }
  .guest-login {
    width: 574px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 424px;
    left: 134px;
    font-family: Avenir;
    font-weight: Heavy;
    font-size: 40px;
    opacity: 1;
    text-align: center;
  }

  .textBoxUserPlaylist {
    width: 300px;
    height: 200px;
    background: rgba(0,0,0,1);
    opacity: 1;
    position: relative;
    margin-left: auto;
    margin-right:auto;
    vertical-align: middle;
    top: 400px;

    overflow: hidden;
    z-index: 1
  }

  .submitUserPlaylist {
    width: 100px;
    color: black;
    position: relative;
    top: 110px;
    left: 100px;
    vertical-align: middle;
    font-family: Inter;
    font-weight: Semi Bold;
    font-size: 20px;
    opacity: 1;
    text-align: center;
    z-index: 1;
  }

  .instructionsText {
    width: 100px;
    color: white;
    position: relative;
    top: 30px;
    left: 20px;
    vertical-align: middle;
    font-family: Inter;
    font-weight: Semi Bold;
    font-size: 15px;
    opacity: 1;
    text-align: center;
    z-index: 1
  }

  .textBox {
    width: 220px;
    height: 25px;
    background: rgb(255, 255, 255);
    opacity: 1;
    position: relative;
    vertical-align: middle;
    top: 80px;
    left: 40px;

    overflow: hidden;
    z-index: 1
  }

  .dropdown_class {
    background: blue;
    position: absolute;
    z-index: 99999;
    font-family: Avenir;
  }

  .multiplayer {
    width: 100%;
    height: 953px;
    background: rgba(0,0,0,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
    z-index:0
  }
  .dropdown_bar {
    width: 800px;
    height: 400px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 762px;
    left: 367px;
    overflow: hidden;
    z-index:10;
  }
  .v54_116 {
    width: 777px;
    height: 400px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 8px;
    left: 13px;
    z-index: 2000;
  }
  .v166_4 {
    width: 471px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 4px;
    left: 45px;
    font-family: Avenir;
    font-weight: Medium;
    font-size: 30px;
    opacity: 1;
    text-align: center;
    z-index:0;
  }
  .submit_button_multi {
    width: 188px;
    height: 73px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 750px;
    left: 1200px;
    overflow: hidden;
    z-index:0;
  }
  .submit_button_multi_background {
    width: 188px;
    height: 73px;
    background: rgba(59,183,101,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
    z-index:0;
  }
  .submit_button_multi_label {
    width: 148px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 9px;
    left: 20px;
    font-family: Avenir;
    font-weight: Medium;
    font-size: 40px;
    opacity: 1;
    text-align: center;
    z-index:1;
  }
  .multi_guesses {
    width: 777px;
    height: 403px;
    background: rgba(255,255,255,0.5);
    opacity: 1;
    position: absolute;
    top: 309px;
    left: 376px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    overflow: hidden;
    z-index:0;
  }
  .v71_12 {
    width: 345px;
    position: absolute;
    top: 339px;
    left: 394px;
    font-family: Avenir;
    font-weight: Medium;
    font-size: 18px;
    opacity: 1;
    text-align: center;
    z-index: 0;
  }
  .points {
    width: 270px;
    height: 403px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 309px;
    left: 62px;
    overflow: hidden;
    z-index:0;
  }
  .points_background {
    width: 266px;
    height: 403px;
    background: rgba(217,217,217,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 4px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    overflow: hidden;
    z-index:0;
  }
  .points_label {
    width: 270px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 33px;
    left: 0px;
    font-family: Avenir;
    font-weight: Medium;
    font-size: 40px;
    opacity: 1;
    text-align: center;
    z-index:0;
  }
  .points_line {
    width: 266px;
    height: 5px;
    background: rgba(0,0,0,1);
    opacity: 1;
    position: absolute;
    top: 124px;
    left: 4px;
    z-index:0;
  }
  .v71_40 {
    width: 270px;
    height: 403px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 309px;
    left: 1198px;
    overflow: hidden;
    z-index:0;
  }
  .v71_41 {
    width: 266px;
    height: 403px;
    background: rgba(217,217,217,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 4px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    overflow: hidden;
    z-index:0;
  }
  .v71_42 {
    width: 270px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 33px;
    left: 0px;
    font-family: Avenir;
    font-weight: Medium;
    font-size: 40px;
    opacity: 1;
    text-align: center;
    z-index:0;
  }
  .v89_4 {
    width: 266px;
    height: 5px;
    background: rgba(0,0,0,1);
    opacity: 1;
    position: absolute;
    top: 124px;
    left: 4px;
    z-index:0;
  }
  .v71_47 {
    width: 500px;
    color: rgba(59,183,101,1);
    position: absolute;
    top: 235px;
    left: 525px;
    font-family: Avenir;
    font-weight: Medium;
    font-size: 40px;
    opacity: 1;
    text-align: center;
    z-index:0;
  }
  .v103_14 {
    width: 100%;
    height: 140px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
    z-index:0;
  }
  .v103_15 {
    width: 100%;
    height: 140px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: fixed;
    top: 0px;
    left: 0px;
    overflow: hidden;
    z-index: 2;
  }
  .v103_16 {
    width: 100%;
    height: 140px;
    background: rgba(62,194,107,0.9399999976158142);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
    z-index:0;
  }
  .v103_17 {
    width: 248px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 18px;
    left: 635px;
    font-family: Proxima Nova;
    font-weight: Regular;
    font-size: 80px;
    opacity: 1;
    text-align: center;
    z-index:0;
  }
  .v103_21 {
    width: 98px;
    height: 94px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 22px;
    left: 1310px;
    overflow: hidden;
    z-index:0;
  }

  .PlayButton {
      width: 70px;
      height: 70px;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      opacity: 1;
      position: absolute;
      top: 75px;
      left: 225px;
      overflow: hidden;
      z-index:0;
      outline: none;
  }

  .singletimerclass{
    height: 200px;
    width: 100px;
    top: 540px;
    left: 507px;
    position: absolute;
    z-index : 999;
    outline: none;
  }

  .multitimerclass{
    height: 200px;
    width: 100px;
    top: 100px;
    left: 500px;
    position: absolute;
    z-index : 999;
  }

  .greenRectangle {
    height: 30px;
    width: 100px;
    color: green;
    position: absolute;
    top: 150px;
    left: 220px;
    z-index: 1000;
    font-family: Proxima Nova;
    font-weight: Regular;
    font-size: 20px;
    outline: none;
  }

  .addGuess {
    height: 500px;
    width: 500px;
    color: red;
    top: 0px;
    left: 0px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: fixed;
    z-index: 99999;
    font-family: Proxima Nova;
    font-weight: Regular;
    font-size: 80px;
    overflow: hidden;
  }

  .services {
    justify-content: space-between;
    top: 300px;
    left: 0px;
    z-index: 10;
    /* position: absolute; */
  }
  .first-division {
    display: flex;
    flex-direction: column;
    margin: 0 5px 0.5rem 0;
    width: 100%;
  }

  .output {
    margin: auto;
    width: 50%;
    flex: 1;
    top: 200px;
    left: 390px;
    position: absolute;
  }

  .output_list {
    color: #fff;
    z-index: 10;
    list-style-type: none;
    text-align: center;
  }
  
  .output_el {
    display: inline-block;
    border: 1px solid rgba(59,183,101,1);
    margin: 5px;
    padding: 10px;
    min-width: 300px;
    justify-content: center;
    font-family: Avenir;
  }